<section class="py-5">
<div class="flex items-center justify-between w-full">
    <div class="mt-2">
        <h3 class="text-gray-500 text-[1.5rem] sm:text-[2rem]  font-medium">Register Courses</h3>
    </div>

<div class="heading flex">
    <div class="hs-dropdown [--strategy:absolute] [--flip:false] hs-dropdown-example relative inline-flex">
      <button (click)="toggleCalender()" id="hs-dropdown-example" type="button" class="flex items-center min-w-fit gap-x-2 font-medium rounded-lg text-gray-800 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
        <span class="text-[.8rem] sm:text-[1rem]">2024/2025 Session</span>
        <svg class="hs-dropdown-open:rotate-180 size-4 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="m6 9 6 6 6-6"></path>
        </svg>
      </button>
  
      <div *ngIf="calender" class=" transition-[opacity,margin] duration w-32 absolute top-[48px]  z-10 mt-2 min-w-32 bg-white shadow-md rounded-lg p-2" role="menu" aria-orientation="vertical" aria-labelledby="hs-dropdown-example">
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" (click)="fetchCoursesBySession(1, '2024/2025')">
          2024/2025
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" (click)="fetchCoursesBySession(1, '2023/2024')">
          2023/2024
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" (click)="fetchCoursesBySession(1, '2022/2023')">
          2022/2023
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" (click)="fetchCoursesBySession(1, '2021/2022')">
          2021/2022
        </a>
        <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" (click)="fetchCoursesBySession(1, '2020/2021')">
          2020/2021
        </a>
      </div>
    </div>
  </div>
</div>
</section>


<div class="">
    <h3 class="text-xl font-normal my-3">Required Courses</h3>
    <div class="bg-white" *ngIf="requiredCourses.length > 0">
        <ng-container *ngFor="let course of requiredCourses">
            <div class="flex flex-col md:flex-row md:justify-between items-center px-3 py-2 my-1 border">
              <div class="md:w-3/4 flex justify-between md:items-center">
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between w-full">
                  <div class="">
                    <h1 class="text-lg text-gray-700">{{course.course_code}}</h1>
                    <p class="text-sm text-gray-400 w-fit">{{course.name}}</p>
                  </div>
                  <p class="min-w-fit md:w-auto text-sm">{{course.units}} units</p>
                </div>
              </div>
              <button class="text-gray-700 font-medium py-1 px-4 border rounded mt-2 md:mt-0" (click)="registerRequiredCourse(course.id)" id="registerRequired">Register</button>
            </div>
        </ng-container>
    </div>
</div>


<div class="mt-6">
    <h3 class="text-xl font-normal my-3">Elective Courses</h3>
    <div class="bg-white" *ngIf="electiveCourses.length > 0">
        <ng-container *ngFor="let course of electiveCourses">
            <div class="flex justify-between flex-col md:flex-row items-center px-3 py-2 my-1 border">
              <div class="md:w-3/4 flex justify-between md:items-center">
                <div class="">
                  <h1 class="text-lg text-gray-700">{{course.course_code}}</h1>
                  <p class="text-sm text-gray-400 min-w-fit">{{course.name}}</p>
                </div>
                  <p class="min-w-fit md:w-auto text-sm">{{course.units}} units</p>
              </div>
                <button class="text-gray-700 font-medium py-1 px-4 border rounded" (click)="registerElectiveCourse(course.id)"
                id="registerElective"
                >Register</button>
            </div>
        </ng-container>
    </div>
</div>


<div class="mt-6">
    <h3 class="text-xl font-normal my-3">Carry over Courses</h3>
    <div class="bg-white" *ngIf="carryOverCourses; else noCourse">
        <ng-container *ngFor="let course of carryOverCourses">
            <div class="flex justify-between flex-col md:flex-row px-3 py-2 my-1 border">
                               <div class="md:w-3/4 flex justify-between md:items-center flex-col md:flex-row">
                  <div class="">
                    <h1 class="text-lg text-gray-700">{{course.code}}</h1>
                    <p class="text-sm text-gray-400 w-full">{{course.title}}</p>
                  </div>
                    <p class="w-full md:w-auto text-sm">{{course.unit}} units</p>
                </div>
                <button class="text-gray-700 font-medium p-2 border" (click)="registerCarryOverCourse(course.id)"
                id="registerCarryOver">Register</button>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noCourse>
  <p class="text-center text-gray-500">There is no carry over course</p>
</ng-template>
