
<app-header></app-header>

<main>

    <!-- <div class="m-auto flex justify-center items-center h-[50vh]" style="background-image: url(/boxes.png); background-size: cover;">
        <h1 class="text-5xl font-medium">News & Blog</h1>
    </div> -->
    <div class="relative">
      <div class="opacity-[30%] bg-opacity-[30%]">
        <img src="/boxes2.png" alt="" class="w-full h-[50vh] object-cover">
      </div>
      <div class="absolute z-50 top-1/2 w-full flex items-center justify-center">
        <h1 class="text-5xl text-[#001633] font-medium m-auto">News & Blog</h1>
      </div>
    </div>

    <div class="flex justify-center items-center my-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div *ngFor="let n of news; let i = index">
        <div class="p-3 rounded-md bg-white">
          <div class="rounded-md w-full">
            <img src="/greeting.png" alt="" class="mx-auto">
          </div>
          <div class="">
            <h1 class="text-xl font-semibold my-2">{{n.h1}}</h1>
            <p class="text-base my-2 max-w-xs">{{n.p}}</p>
            <p class="text-base text-gray-700">
              <span class="border-e-2 border-gray-700 px-2">{{n.date}}</span> <span class="px-2">{{n.time}}</span>
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>

      

</main>

<app-footer></app-footer>
