<div class="heading relative">


  <div class="bottom-header flex justify-between lg:py-2 py-4 items-center lg:px-24 px-8 bg-white text-[#191932]">
    <div class="site-logo hidden lg:block md:hidden">
      <img src="/dic-42-logo.wbp" class="w-24 h-24 object-cover" alt=""  (click)="route('home')"> <!-- Change Logo -->
    </div>

    <div (click)="toggleMobileMenu()" class="block md:block lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
      <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
      <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
    </svg>
    </div>

    <div class="menu hidden lg:flex gap-6 font-normal">
      <nav class="text-[#475367] text-xl active:scale-95 cursor-pointer mx-2" (click)="route('home')">Home</nav>
      <nav class="text-[#475367] text-xl active:scale-95 cursor-pointer mx-2" (click)="route('about')">About Us</nav>
      <nav class="text-[#475367] text-xl active:scale-95 cursor-pointer mx-2" (click)="route('unndic')">Pg Program</nav>
      <!-- <nav class="text-[#475367] active:scale-95 cursor-pointer" (click)="route('commandants')">Commandants</nav> -->
      <!-- <nav class="text-[#475367] active:scale-95 cursor-pointer" (click)="route('gallery')">Gallery</nav> -->
      <nav class="text-[#475367] text-xl active:scale-95 cursor-pointer mx-2" (click)="route('news')">News & Blog</nav>
      <nav class="text-[#475367] text-xl active:scale-95 cursor-pointer mx-2" (click)="route('contact')">Contact Us</nav>

    </div>

    <div class="contact-section">
      <a target="_blank" class="px-3 py-2 text-white border bg-[#2D2F93] rounded-md hover:bg-[#1B1B4C] hover:text-[#1B1B4C] active:scale-95 cursor-pointer" routerLink="/about" >Learn More</a>
    </div>
  </div>

  <ng-container *ngIf="showMobileMenu">
    <app-mobile-menu (toggleMenu)="toggleMobileMenu()"></app-mobile-menu>
 </ng-container>

</div>

