<div class="flex justify-between items-center">
    <button
      (click)="goBack()"
      class="back flex gap-2 cursor-pointer items-center"
    >
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
      </span>
      <span class="">Back</span>
    </button>
  
    <!-- <div class="flex gap-2 items-center">
      <button (click)="toggleView('videos')" class="px-4 py-2 rounded-md border ">videos</button>
      <button (click)="toggleView('assignment')" class="px-4 py-2 rounded-md border ">Assingments</button>
    </div> -->
  </div>


<section class="p-5">
    <div class="flex justify-between">
      <div class="">
        <h1 class="text-3xl font-medium">{{course.course_code}}</h1>
        <p>{{course.course_name}}</p>
      </div>
      <div class="">
        <button (click)="showUploadModal()" class="bg-seccolor text-white py-2 px-4"> Upload Video </button>
        <p-dialog [modal]="true" [(visible)]="visibleModal" [style]="{ width: '30rem' }">
          <app-schedule-modal viewer="upload"></app-schedule-modal>
        </p-dialog> 
      </div>
    </div>

    <hr>

    <div class="my-4">
      <h1 class="text-3xl font-medium"> Course Description </h1>
      <p class="text-base font-normal"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero voluptatem a eos placeat quod quaerat possimus explicabo eveniet nemo excepturi, at provident amet doloremque obcaecati consequatur? Dicta itaque in corporis odio tempora consectetur omnis, architecto minus exercitationem velit quod illo ducimus aut, nobis quisquam. Ut beatae maxime fugit culpa?</p>
    </div>

    <div class="my-4 flex gap-4">
      <div class="text-xl text-gray-700 cursor-pointer" [ngClass]="{'text-black': view === 'students'}" (click)="toggleView('students')">Students</div>
      <div class="text-xl text-gray-700 cursor-pointer" [ngClass]="{'text-black': view === 'videos'}" (click)="toggleView('videos')">Videos</div>
    </div>

    <div *ngIf="view === 'students'">
      <app-student-table [tableHeader]= tableHeader [studentCourses]=courseStudents viewer="staff"></app-student-table>
    </div>

    <div *ngIf="view === 'videos'">
        <div class="bg-background">
          <div class="">
            <h1 class="text-3xl font-medium">
              Topic: <span class="">{{videos.topic_name}}</span> 
              <span class="bg-gray-200 rounded-full p-2 text-base text-gray-700">{{videos.length}}</span>
            </h1>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2" *ngFor="let video of videos"
            (click)="
            openVideo(
              'https://us06web.zoom.us/rec/share/C6zeHTyNigreKx6MoO5Aj3fGVA6OKXbYRb_zbqBg4eNW-vidYrzSLKCCNceSgj_2.kmi_W4-3CTBGcKSZ Passcode: 4!^heN!^'
            )
          ">
              <app-video-card
              [displayCount]="true"
              videoTitle="{{ video.title }}"
              videoSrc="https://us06web.zoom.us/rec/share/C6zeHTyNigreKx6MoO5Aj3fGVA6OKXbYRb_zbqBg4eNW-vidYrzSLKCCNceSgj_2.kmi_W4-3CTBGcKSZ
              Passcode: 4!^heN!^"
            ></app-video-card>
            </div>
          </div>
        </div>
    </div>
</section>