<section>

  <div class="bg-background border rounded-lg p-2">
    <div class="my-2">
      <div class="flex justify-between items-center">
        <h1 class="text-xl font-medium text-gray-900">Student Details</h1>
        <div class="flex gap-3">
          <span class="text-lg font-normal text-gray-500">Matric Number:</span><span class="text-lg font-medium text-gray-900">{{profileData[0]?.student_id}}</span>
        </div>
      </div>
    </div>


    <div class="flex">
      <div class="bg-white rounded-lg flex flex-col gap-y-2 basis-1/2 p-5">
        <div class="flex flex-col gap-1">
     
            <span class="block text-base text-gray-500">Course:</span>
       
            <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
              {{profileData[0]?.program}}
            </span>

        </div>

        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Full name:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.full_name}}
          </span>

        </div>
        
        
        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Next of kin:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.next_of_kin}}
          </span>

        </div>      

        
        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">State of Origin:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.state}}
          </span>

        </div>

         
        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Local Government Area:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.local_government}}
          </span>

        </div>

         
        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Gender:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.gender}}
          </span>

        </div>

      </div>
      <div class="grid grid-col-1 basis-1/2 bg-white rounded-lg p-5 gap-y-5">

        <!-- <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Faculty:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.faculty}}
          </span>

        </div> -->



        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Course Start:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.program_start}}
          </span>

        </div>

        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Course End:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.program_end}}
          </span>

        </div>

        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Address:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.address}}
          </span>

        </div>

        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Phone number:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.phone_number}}
          </span>

        </div>

        <div class="flex flex-col gap-1">
     
          <span class="block text-base text-gray-500">Email:</span>
     
          <span class="after:content-[''] inline-flex items-center text-base text-gray-900">
            {{profileData[0]?.email}}
          </span>

        </div>

        
      </div>
    </div>


    <div class="mt-2 bg-white rounded-lg p-4">
      <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()" class="mt-6">
        <div class="heading flex justify-between items-center h-full">
          <p class="title font-bold  text-gray-800">Change password</p>
          <button type="submit"  class="px-4 py-2 text-white bg-seccolor rounded-md">Change</button>
        </div>
        <div class="flex flex-col gap-3 w-full max-w-[400px]">
        <div class="flex flex-col gap-1">
          <label class="font-semibold" for="password">Password</label>
          <input type="password" formControlName="old_password" name="old_password" class="px-4 py-2 border rounded-md w-full " placeholder="Enter current password" required>
        </div>

        <div class="flex flex-col gap-1">
          <label class="font-semibold" for="New password">New Password</label>
          <input type="password" formControlName="new_password"  name="new_password" class="px-4 py-2 border rounded-md w-full " placeholder="Enter new password" required>
        </div>

        <div class="flex flex-col gap-1">
          <label class="font-semibold" for="Confirm new password">Confirm New Password</label>
          <input type="password" formControlName="confirm_password" name="confirm_password" class="px-4 py-2 border rounded-md w-full " placeholder="Confirm new password" required>
        </div>
        </div>

      </form>
      </div>







<!-- <div class="section">
    <div class="flex flex-col md:flex-md lg:flex-row gap-8">
        List -->
        <!-- <div class="flex flex-col gap-2 basis-1/2">
        <div class="flex flex-col sm:flex-row gap-1">
          <span class="min-w-28">
            <span class="block  text-sm text-gray-500">Course:</span>
          </span>
          <span>
            <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
              {{profileData[0].program}}
            </span>

          </span>
        </div>

        <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Full name:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
                {{profileData[0].full_name}}
              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Next of kin:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
                {{profileData[0].next_of_kin}}

              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course start:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
                {{profileData[0].program_start}}
              </span>

            </span>
          </div>

          <div class="flex flex-col sm:flex-row gap-1">
            <span class="min-w-28">
              <span class="block text-sm text-gray-500">Course End:</span>
            </span>
            <span>
              <span class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800">
                {{profileData[0].program_end}}
              </span>

            </span>
          </div>

      </div> -->
      <!-- End List -->

      <!-- <div> -->
        <!-- Grid -->
<!-- <div class="grid grid-cols-1 sm:grid-cols-2 basis-1/2">
    <div class="">



      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500 font-semibold min-w-28">State: </span>
        <span class="text-sm text-gray-800 ">{{profileData[0].state}}</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">LGA: </span>
        <span class="text-sm text-gray-800 ">{{profileData[0].local_government}}</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">Address: </span>
        <span class="text-sm text-gray-800 ">{{profileData[0].address}}</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">
            Phone number
        </span>
        <span class="text-sm text-gray-800 ">{{profileData[0].phone_number}}</span>
      </p>

      <p class="mt-1 flex gap-2 text-sm text-gray-600">
        <span class="text-sm text-gray-500  min-w-28">
            Email Address
        </span>
        <span class="text-sm text-gray-800">{{profileData[0].email}}</span>
      </p>


    </div>

    <div class="">

         <h5 class="font-semibold text-gray-800">
            Contact
          </h5> -->




    <!-- </div>
  </div> --> 
  <!-- End Grid -->
      


    <!-- stats section -->

    <!-- stats end -->
<!-- </div> --> 
