
<div class="flex w-full gap-2 md:p-5">
  <button class="px-2 py-1 bg-white border rounded-xl" [class.bg-gray-800]="currentMenu === 'registerCourses'" (click)="toggleTab('registerCourses')">Register Course</button>
  <button class="px-2 py-1 bg-white border rounded-xl" [class.bg-gray-800]="currentMenu === 'myCourse'" (click)="toggleTab('myCourse')" >My Courses</button>
</div>

<div class="md:p-5" *ngIf="currentMenu === 'registerCourses'">
    <app-register-course [requiredCourses]="requiredcourses" [electiveCourses]="electivecourses" [fetchCoursesBySession]="fetchCoursesBySession.bind(this)"></app-register-course>
</div>


<div class="md:p-5" *ngIf="currentMenu === 'myCourse'">                                                                                                                                                         
<!-- <div *ngIf="StudentCourses?.length > 0;"> -->
  <app-courses-card [courses]="studentcourses" viewer="student"></app-courses-card>
<!-- </div> -->

<!-- <ng-template #noCourse>
  <p class="text-center text-gray-500">No course available</p>
</ng-template> -->
</div>



