

<!-- Start Content-->
<div class="main-body">
  <div class="page-wrapper">

    <p-toast />

    <!-- [ Main Content ] start -->

    <div class="flex items-center justify-center gap-5 mt-5 mb-5">
      <div class="">
        <div class="text-center max-h-[200px]">
          <img src="/dic.png" class="img-fluid" alt="Logo" />
        </div>
      </div>
      <div class="">
        <div class="text-center max-h-[200px]">
          <img
            src="/assets/uploads/application-setting/042B696C_209A_449F_9B07_9F2AB1A3A24E_1721130710.png"
            class="img-fluid"
            alt="Logo"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col justify-center items-center">
      <div class="min-w-[40vw]">
      <div class="text-center mb-5">
        <h2 class="text-5xl font-semibold">Application</h2>
      </div>
      <div class="flex items-center w-full">
        
        <button
          (click)="toggleFormStage(1)"
          [ngClass]="{
                    'bg-gray-200 text-green-800':
                      currentStage >= 1 && formStage >= 1,
                  }"
          class="p-1 w-8 h-8 bg-gray-300 text-green shadow-md text-base border rounded-circle transition-all duration-300"
        >
          1
        </button>
        
     
        <!-- Progress Line (Only if not last step) -->
        <div class="flex-1 relative">
          <div
            class="absolute top-1/2 -translate-y-1/2 w-full h-1 bg-gray-300"
          ></div>
          <div
            class="absolute top-1/2 -translate-y-1/2 h-1 transition-all duration-300"
            [ngStyle]="{ width: currentStage > 1 ? '100%' : '0%' }"
            [ngClass]="{
              'bg-green-300': currentStage > 1,
              'bg-gray-300': currentStage <= 1
            }"
          ></div>
        </div>
        
        <button
          (click)="toggleFormStage(2)"
          [ngClass]="{
            'bg-green-500': currentStage < 2 && formStage < 2,
            'bg-gray-200 text-green-800': currentStage >= 2 && formStage >= 2,
          }"
          class="p-1 w-8 h-8 bg-gray-300 text-green shadow-md text-base border rounded-circle"
        >
          2
        </button>
        
     
        <!-- Progress Line (Only if not last step) -->
        <div class="flex-1 relative">
          <div
            class="absolute top-1/2 -translate-y-1/2 w-full h-1 bg-gray-300"
          ></div>
          <div
            class="absolute top-1/2 -translate-y-1/2 h-1 transition-all duration-300"
            [ngStyle]="{ width: currentStage > 2 ? '100%' : '0%' }"
            [ngClass]="{
              'bg-green-300': currentStage > 2,
              'bg-gray-300': currentStage <= 2
            }"
          ></div>
        </div>
        
        <button
          (click)="toggleFormStage(3)"
          [ngClass]="{
              'bg-green-500': currentStage < 3 && formStage < 3,
              'bg-gray-300 text-green-800': currentStage >= 3 && formStage >= 3,
          }"
          class="p-1 w-8 h-8 bg-gray-300 text-green shadow-md text-base border rounded-circle"
        >
          3
        </button>
       
      
        </div>
        <div class="flex justify-between gap-2 text-center text-xs">
          <p>Download form</p>
          <p>Basic Info</p>
          <p>Document Upload</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <!-- [ Card ] start -->

      <div class="flex justify-center">
        <form [formGroup]="applicationForm" (ngSubmit)="save()">
          <!-- <input type="hidden" name="_token" value="JjdTj7but7Au6GvK1kkJMVCcse3gu8bAjYq9GJ4Z"> -->

          <ng-container *ngIf="formStage == 1">
            <!-- Form Start -->
             <div class="flex flex-col md:flex-row justify-between gap-10 my-5 w-[80vw] bg-[#F7F9FC] text-center text-black">
            <div class="md:w-1/6"></div>
            <div class="flex md:justify-center items-center">
              <div class="">
                <p class="text-3xl my-5 font-medium">Payment Information</p>
                <div class="my-5 p-2">
                  <br />
                  <div
                    class="border-b-[1px] border-gray-100 w-full flex justify-between my-2"
                  >
                    <p>Account Name</p>
                    <b>DIC UNN</b>

      <!-- [ Main Content ] start -->
      <div class="card">
          <div class="card-block">
              <div class="row mt-5 mb-5">
                  <div class="col-sm-2">
                      <div class="inner text-center">
                                                      <img src="/assets/uploads/application-setting/DIC200_1721131379.png" class="img-fluid" alt="Logo">
                                                  </div>
                  </div>
                  <div class="col-sm-8 text-center">
                      <h2>Application</h2>
                      <p>Apply now</p>
                  </div>
                  <div class="col-sm-2">
                      <div class="inner text-center">
                                                      <img src="/assets/uploads/application-setting/042B696C_209A_449F_9B07_9F2AB1A3A24E_1721130710.png" class="img-fluid" alt="Logo">
                                                  </div>
                  </div>
              </div>



          </div>
      </div>
      <div class="clearfix"></div>

      <div class="row">
          <!-- [ Card ] start -->
          <div class="col-sm-12">
              <div class="card px-8">
                <div class="">
                  <form [formGroup]="applicationForm" (ngSubmit)="save()" >
                      <!-- <input type="hidden" name="_token" value="JjdTj7but7Au6GvK1kkJMVCcse3gu8bAjYq9GJ4Z"> -->

                      <div class="flex gap-2 bg-white shadow-md  h-[64px]">
                        <h3 (click)="toggleFormStage(1)" [ngClass]="{'bg-seccolor text-white': currentStage==1 && formStage==1}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Download Form</h3>
                        <h3 (click)="toggleFormStage(2)" [ngClass]="{'bg-seccolor text-white': currentStage==2 && formStage==2}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Basic Info</h3>
                        <h3 (click)="toggleFormStage(3)" [ngClass]="{'bg-seccolor text-white': currentStage==3 && formStage==3}" class="py-1 px-4 bg-gray-300 text-gray-400 shadow-md h-[35px] text-base border w-[220px] rounded-md">Document</h3>
                      </div>

                      <ng-container *ngIf="formStage==1">
                      <content class="form-step">
                          <!-- Form Start -->
                          <div class="row">
                              <div class="col-md-12">
                                  <fieldset class="row scheduler-border">
                                      <div class="form-group col-md-12">
                                          <p><a style="color: blue" href="/assets/uploads/about-us/APPLICATION_FORM.pdf" target="_blank" style="text-decoration: underline !important; color:blue">Click here to Download PG Programme Form</a> - Fill the form accordingly and upload as part of the required documents</p>
                                      </div>
                                      <div>
                                          <p>PAYMENT INFORMATION</p><br>
                                          <p>Account Name: <b>DIC UNN</b></p>
                                          <p>Account Number: <b>1027305293</b></p>
                                          <p>Bank: <b>UBA</b></p>
                                      </div>
                                  </fieldset>
                              </div>
                          </div>
                      </content>
                      </ng-container>


                      <ng-container *ngIf="formStage==2">
                        <h3>Basic Info</h3>
                      <content class="form-step">
                          <!-- Form Start -->
                          <div class="row">
                          <div class="col-md-12">
                          <fieldset class="row scheduler-border">
                          <div class="form-group col-md-6">
                              <label for="first_name">First Name <span>*</span></label>
                              <input formControlName="first_name" type="text" class="form-control" name="first_name" id="first_name" value="" required>

                              <div class="invalid-feedback">
                                Please Enter First Name
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="last_name">Last Name <span>*</span></label>
                              <input formControlName="last_name" type="text" class="form-control" name="last_name" id="last_name" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Last Name
                              </div>
                          </div>





                          <div class="form-group col-md-6">
                              <label for="phone">Phone <span>*</span></label>
                              <input formControlName="phone" type="text" class="form-control" name="phone" id="phone" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Phone
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="email">Email <span>*</span></label>
                              <input formControlName="email" type="email" class="form-control" name="email" id="email" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Email
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="gender">Gender <span>*</span></label>
                              <select formControlName="gender" class="form-control" name="gender" id="gender" required>
                                  <option value="">Select</option>
                                  <option value="male" >Male</option>
                                  <option value="feamale" >Female</option>
                              </select>

                              <div class="invalid-feedback">
                                Please Enter Gender
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="dob">Date Of Birth <span>*</span></label>
                              <input formControlName="dob" type="date" class="form-control date" name="dob" id="dob" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Date Of Birth
                              </div>
                          </div>









                          </fieldset>
                          </div>
                          </div>


                          <fieldset class="row scheduler-border">
                          <legend>Academic Information</legend>
                          <div class="form-group col-md-6">
                          <label for="program">Program <span>*</span></label>
                              <select formControlName="programe_id" class="form-control program" name="program" id="program" required>
                                <option value="">Select</option>
                                 <ng-container *ngFor="let program of programes">
                                  <option value={{program.id}}>{{program.program}}</option>
                                 </ng-container>
                              </select>

                            <div class="invalid-feedback">
                              Please Enter Program
                            </div>
                          </div>
                          </fieldset>
                          <!-- Form End -->
                      </content>
                      </ng-container>


                      <ng-container *ngIf="formStage==3">
                        <h3>Documents</h3>
                      <content class="form-step">
                          <!-- Form Start--->
                          <fieldset class="row scheduler-border">
                                                      <div class="form-group col-md-6">
                              <label for="photo">Photo: <span>Best Resolution Height- 300 PX, Width- 300 PX</span> <span>*</span></label>
                              <input (change)="onPhotoSelected($event)" type="file" class="form-control" name="photo" id="photo" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Photo
                              </div>
                          </div>

                          <div class="form-group col-md-6">
                              <label for="document">Upload Document: <span>Application Form</span> <span>*</span></label>
                              <input (change)="onApplyFormSelected($event)" type="file" class="form-control" name="document" id="document" value="" required>

                              <div class="invalid-feedback">
                                Please Enter Document
                              </div>
                          </div>

                                                      <div class="form-group col-md-12">
                              <p>Note: Academic Credentials should be forwarded to <a style="color:#3ea1e4" href="mailto:dicunn.pgs@gmail.com">dicunn.pgs&#64;gmail.com</a></p>
                          </div>
                          </fieldset>
                          <!-- Form End--->
                      </content>
                      </ng-container>


                      <div class="w-full flex justify-end items-center">
                        <button class="px-4 py-2 w-full max-w-[150px] bg-seccolor text-white rounded-md">Save</button>
                      </div>
                  </form>
                  </div>

              </div>
          </div>
          <!-- [ Card ] end -->
      </div>
      <!-- [ Main Content ] end -->
  </div>
</div>
<!-- End Content-->

