<app-header></app-header>

<main>

  <div class="m-auto flex justify-center items-center h-screen" style="background-image: url(/boxes.png); background-size: cover;">
    <h1 class="text-5xl font-medium">PG Program</h1>
  </div>


  <div class="container my-5">
    <div class="flex items-center w-full gap-5 mt-16 md:mt-16">
      <div class="lg:w-[15%]">
      <span class="text-xs font-normal text-black">CENTERS & DEPARTMENTS </span>
      </div>
      <div class="border-[1px] border-gray-500 w-full"></div>
    </div>

</div>

  <div class="container my-5">
    <div class="text-center">
      <h1 class="text-4xl my-2">Centers & Departments</h1>
      <div class="w-full my-2">
        <div class="flex flex-col items-center justify-center">
        <h1 class="text-xl font-medium text-black my-2"> Center for Strategic Studies </h1>
        <p class="text-gray-600 max-w-2xl my-3">
          AVM MS Usman Centre for Strategic Studies (CSS) is a multi-disciplinary academic and research centre designed to initiate programmes in strategic studies and undertake security related research. The CSS anchors the Advanced Defence Intelligence Officers' Course (ADIOC) which is designed to broaden officers' knowledge in determination of intelligence in policy and conflict situations.  Also the Center anchors the Intelligence Analysis Officers' Course (IAOC) aimed at raising the quality of analytic tradecraft in the Agency and the intelligence community, It facilitates training programmes with external academic and security organizations through collaboration with relevant institutions. Furthermore, the CSS writes strategic and poilcy papers for the College and the Agency as directed
        </p>
        <button target="_blank" class="px-7 py-2 border-2 text-white font-medium rounded-md active:scale-95 cursor-pointer" style="background: linear-gradient(#1B1B4C, #AFADFF);" routerLink="/pg-application" >Apply</button>
      </div>
      </div>
    </div>

  </div>


  <div class="container my-5">
  <div class="text-center my-2">
    <h1 class="text-xl">Departments</h1>
  </div>

  <div class="max-w-3xl mx-auto">
    <div *ngFor="let department of departments; let i = index">
      <div class="flex justify-between items-center p-4 my-2 bg-[#F7F9FC] cursor-pointer rounded-md shadow-md" (click)="toggle(i)">
        <span class="text-gray-800 font-medium">{{ department.name }}</span>
        <span class="text-black font-medium">View requirements ↓</span>
      </div>
      <div *ngIf="department.isOpen" class="p-4 bg-gray-200 text-gray-700">
        <p>The Defence Intelligence College (DIC) hitherto known as the Defence Intelligence School (DIS) was established in 2001. At inception it was located at a temporary site within the Headquarters of the Defence Intelligence Agency (DIA) in Bonny Camp Lagos. However, due to the need for a large space and conducive environment, the school was relocated to its present location in Karu a suburb of Federal Capital Territory Abuja in October 2005. .</p>
        <button target="_blank" class="px-5 py-2 border-[1px] text-black border-gray-200 rounded-md bg-white active:scale-95 cursor-pointer" routerLink="/pg-application">Apply</button>
        
      </div>
    </div>
  </div>
</div>
  

</main>

<app-footer></app-footer>
