
<main>


  <!-- gallery-area -->
  <section id="work" class="pt-105 pb-105">

    
      <div class="container">
          <div class="lg:px-24">
            <div class="lg:pb-10 text-center">
                <h1 class="font-semibold text-4xl">Gallery</h1>
            </div>
              <div class="w-full flex items-center justify-center fadeInUp  animated" data-animation="fadeInUp" data-delay=".4s">


                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/commandant.png" alt="" class="w-full h-full">
                    </div>
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/greeting.png" alt="" class="w-full h-full">
                    </div>
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/sitting.png" alt="" class="w-full h-full">
                    </div>
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/image 156.png" alt="" class="w-full h-full">
                    </div>
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/image 157.png" alt="" class="w-full h-full">
                    </div>
                    <div class="max-w-[600px] min-h-[400px]">
                        <img src="/image 158.png" alt="" class="w-full h-full">
                    </div>
                </div>
                <!-- <div class="">
                      <a class="popup-image" href="/assets/uploads/gallery/final_image_1721302188.jpg">
                          <figure class="gallery-image w-full lg:max-w-[600px]">
                              <img src="/assets/uploads/gallery/final_image_1721302188.jpg" alt="sy" class="img">
                          </figure>
                      </a>
                  </div>
                <div class="">
                      <a class="popup-image" href="/assets/uploads/gallery/final_image_1721302139.jpg">
                          <figure class="gallery-image w-full lg:max-w-[600px]">
                              <img src="/assets/uploads/gallery/final_image_1721302139.jpg" alt="sy audu" class="img">
                          </figure>
                      </a>
                  </div> -->

              </div>
          </div>
      </div>
  </section>
  <!-- gallery-area-end -->

</main>

<!-- <app-footer></app-footer> -->
